*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.container-topo{
    height: 80px;
    width: 100%;
    background-color: #604829;
    position: fixed;
    /*z-index: 10;*/
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
        
} 
 .logo{
    align-self: center;
 }
.logo img{
    width: 75px;
    height: 75px;
   
}
.menu{
    align-self: center;
}
.menu ul{
    display: flex;
}
.menu li{
    margin: 10px;
    list-style-type: none;
}
.menu a{
    text-decoration: none;
    font-weight: bold;
    color: #c4a47c;
    text-shadow: 4px 3px 2px  black ;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    
}
.sessao-banner{
    background-image: url('/img/parallax-imagem1.png');
    height:  800px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sessao-banner h1{
    color: #fff;
    font-family: 'Fraunces';
    font-size: 72px;

}
